/*Start Global rule*/
*{
	box-sizing: border-box;
}
:root {
	--main-color: #10cab7;
	--secondary-color: #2c4755;
}
body {
	font-family: "Work Sans", sans-serif;
}
.container {
	margin-left: auto;
	margin-right: auto;
	padding-left : 15px;
	padding-right: 15px;
}
/*small*/
@media(min-width: 768px) {
	.container {
		width: 750px;
	}
}
/*medium*/
@media(min-width: 992px) {
	.container {
		width: 970px;
	}
}
/*large*/
@media(min-width: 1200px) {
	.container {
		width: 1170px;
	}
}
/*End Global rule*/
/* Start NavBar Styling */
.navbar {
  display: flex;
  justify-content: center;
}
.navbar a {
  padding: 10px;
  text-decoration: none;
  color: var(--main-color);

}
/* End NavBar Styling */

/* Start Question styling */
.question  {
  background-color: #eee;
  border-radius: 10px;
  padding: 10px;
  color: var(--secondary-color);
  margin-top: 10px;
}
.question .answer {
  border-bottom: 2px solid var(--secondary-color) ;
}
.question .add-answer {
	display: flex;
	flex-direction: column;
	margin-top: 10px;
	padding: 10px;
}
.question textarea {
	margin-top: 10px;
	margin-bottom: 10px;
	height: 100px;
}
.question .add-answer button {
	border: 1px solid var(--secondary-color);
	color: var(--main-color);
	width: 10%;
	height: 40px;
	margin: auto;
}
/* End  Question styling */

/* Start Login styling */
/* Start Login styling */
.login-warning {
  color: red;
  text-align: center;
}